.u-input-wrapper {
  --u-input-radius: 4px;
  --u-input-height: var(--u-medium, 36px);
  --u-input-color: var(--u-text-1);
  --u-input-bg: var(--u-bg);
  --u-input-border-color: var(--u-border);
  display: inline-flex;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  border: 1px solid var(--u-input-border-color);
  border-radius: var(--u-input-radius);
  padding: 0 12px;
  height: var(--u-input-height);
  min-height: var(--u-input-height);
  background: var(--u-bg);
  transition: border-color 0.2s;
  gap: 8px;
  position: relative;

  &:focus-within,
  &:hover {
    --u-input-border-color: var(--u-primary);
    z-index: 1;
  }
  &:focus-within {
    outline: 1px solid var(--u-input-border-color);
  }

  &--small {
    --u-input-height: var(--u-small, 28px);
  }
  &--mini {
    --u-input-height: var(--u-mini, 24px);
  }

  &--medium {
    --u-input-height: var(--u-medium, 36px);
  }

  &--large {
    --u-input-height: var(--u-large, 48px);
  }
  &--textarea {
    height: auto;
    padding: 0;
  }
  &--number {
    padding-right: 0;
  }

  &.is-disabled {
    pointer-events: none;
    opacity: 0.65;
  }
  &.is-readonly {
    pointer-events: all;
  }
}
